// Fonts
$font_size_base   : 16px;
$font_lh_base     : 22px;
$font_family_base : Arial, sans-serif;
$font_base        : #{$font_size_base}/#{$font_lh_base} $font_family_base;

// Colors
$color_dark    : #151515;
$color_bglight : #f7f7f7;
$color_light   : white;
$color_red     : #dc291e;

// Animations
$time_basis : 1s;

// Breakpoints
$breakpoints: (
    'xxsmall': 480px,
    'xsmall' : 640px,
    'small'  : 960px,
    'medium' : 1080px,
    'large'  : 1200px,
    'xlarge' : 1360px
);