.bclr-c-HomeChapo {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

    .bclr-u-wrapper {
        display: inline-block;
        // text-align: left;
        max-width: 520px;
    }
}