.bclr-c-Footer {
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: $color_dark;
    color: white;

    &-logos {
      margin-top: 7px;
      > * {
        display: inline-block;
        vertical-align: middle;
        * { display: block }
      }
      > * + * { margin-left: 6px }

      .spip img {
          display: block;
          width: 37px;
          height: auto;
      }
    }
}
